* {
    box-sizing: border-box;

}

body {
    margin-top: 30px;
    padding: 1rem;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 500px;
    margin: 0 auto;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 1.1rem;
    cursor: pointer;
}

.userLabel {
    margin-top: 30px;
}

/*Estilizando campo senha*/
.senhaInput {
    
    margin-bottom: 40px;
    position: relative;
    padding: 0;
    border: none;
}

.senhaInput input {
    width: 500px;
    border: 3px solid #514869;
}

div i {
    position: absolute;
    top: 9px;
    right: 25px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;

}

.estatic {
    background-color: rgba(52, 197, 117, 0.970);
    box-shadow: 0px -30px 70px rgba(52, 197, 117, 0.95);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.relative {
    position: relative;
    padding: 70px;
}