@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body {
    margin: 0;
    display: flex;
    font-family: 'Noto Sans', sans-serif;
}

body * {
    box-sizing: border-box;
}

html,
body {
    overflow: hidden;
}

.main-login {
    width: 100vw;
    height: 100vh;
    background: #201b2c;
    display: flex;
    /*deixar objetos lado a lado*/
    justify-content: center;
    /*centraliza objetos no eixo x*/
    align-items: center;
    /*centraliza objetos no eixo y*/
}

.left-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*Coloca algo um embaixo do outro usando display flex*/
}

.left-login>h1 {
    font-size: 3vw;
    color: #77ffc0
}

.left-login-img {
    width: 32vw;
}

.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
    /*val 1= eixo x sombra para direita ou esquerda. val 2=eixo y sombra pra cima ou embaixo. val 3=blur perde foco. val 4=cor*/
}

.card-login>h1 {
    color: #00ff88;
    font-weight: 800;
    margin: 0;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    /*muda as direções de eixo*/
    align-items: flex-start;
    /*centraliza objetos no eixo x*/
    justify-content: center;
    /*centraliza objetos no eixo y*/
    margin: 10px 0px;
}

.textfield>input,
.senhaInput>input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
    /*padding não ultrapasse seu limite*/
}

.textfield>label {
    color: #f0ffffde;
    margin-bottom: 10px;
}

.textfield>input::placeholder,
.senhaInput>input::placeholder {
    color: #f0ffff94;
}

.btn-login {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

.btn-cadastro {
    width: 100%;
    padding: 16px 0px;
    border: none;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

/*Estilizando campo senha*/
.senhaInput {
    width: 100%;
    position: relative;
    padding: 0;
    border: none;
}

div i {
    position: absolute;
    top: 9px;
    right: 25px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}

/*Estilizando msg erro senha*/
.error-msg {
    color: red;
    font-size: 0.8em;
    display: none;
    margin-top: 4px;
}


/*Altera a cor do preenchimento automático*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px #514869 inset !important;
    -webkit-text-fill-color: #f0ffffde !important;
    caret-color: #8d9292de;
    border: 1px solid #514869;
    transition: background-color 5000s ease-in-out 0s;
}


@media only screen and (max-width: 950px) {
    .card-login {
        width: 85%;
    }
}

@media only screen and (max-width: 600px) {

    html,
    body {
        overflow: scroll;
    }

    .main-login {
        flex-direction: column;
        width: 100vw;
        height: 130vh;
    }

    .left-login>h1 {
        display: none;
    }

    .right-login {
        width: 100%;
        height: auto;
    }

    .left-login-img {
        width: 50vw;
    }

    .card-login {
        width: 80%;
        height: 95%;
    }

    .card-login>.btn-login {
        padding: 6px 6px;
        width: 90%;
        margin: 5px 5px;
    }

    .card-login>.btn-cadastro {
        padding: 6px 6px;
        width: 90%;
        margin: 5px 5px;
    }

}