html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  margin: 0 0 10px 0;
  color: #f0f6fc;
  background: linear-gradient(300deg, rgb(54 22 143)2%, rgb(92, 51, 206));
}

/*estilizando tag link*/
a{
  text-decoration: none;
}

a:visited {
  color: inherit; /* mantém a mesma cor do link normal */
}

/*--PRELOADER--*/
#preloader {
  position: fixed;
  inset: 0;
  /* top, right, bottom, left = 0 */
  background: radial-gradient(circle at center, #361391, #3818a3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  transition: opacity 1s ease, visibility 2s ease;
}

/* logo dentro da tela */
#preloader .logo {
  font-size: 2.5rem;
}

/* animação de pulsar da logo */
@keyframes fadeLogo {
  from {
    opacity: 0.6;
    transform: scale(1);
  }

  to {
    opacity: 1;
    transform: scale(1.05);
  }
}

/* quando começar a sumir */
#preloader.fade-out {
  opacity: 0;
  visibility: hidden;
}

/* conteúdo principal (oculto até sumir o preloader) */
#content {
  opacity: 0;
  animation: showContent 1s ease 1.2s forwards;
}

@keyframes showContent {
  to {
    opacity: 1;
  }
}


/*header e menu*/
.relative {
  position: sticky;
  border-bottom: 1px solid #9198a149;
}

.menu-opcoes {
  margin-top: 30px;
  margin-right: 80px;
  width: 10%;
  gap: 0;
}

.hamburguer-item {
  border-radius: 0;
}

header {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to left, rgb(59, 28, 145)1%, rgb(83, 44, 189));
  backdrop-filter: blur(8px);
  transition: all 0.4s ease;
  /* transição suave */
  transform: translateZ(0);
  /* força compositor */
  will-change: height;
}

header.shrink {
  height: 30px;
  /* altura reduzida */
  background: linear-gradient(to left, rgba(59, 28, 145, 0.692)1%, rgba(83, 44, 189, 0.692));
  position: fixed;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 77.75rem;
  height: 62px;
  margin-left: auto;
  margin-right: auto;
}


/*estilizando menu-left*/
.menu-left {
  display: flex;
  gap: 50px;
  height: 90px;
}

.menu-left>a {
  color: #e0dbdb;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}

.menu-left>img {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100px;
}

/*opçoes menu-hamburguer*/
.menu-opcoes {
  top: 30px;
  position: absolute;
  right: 8px;
  min-width: 80px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  padding: 6px;
  display: none;
  /* hidden por padrão */
  flex-direction: column;
  gap: 6px;
  z-index: 50;
}

.menu-opcoes.show {
  display: flex;
}

/*Primeira seção*/
.home {
  background: rgb(12, 12, 12);
}

/*estilizando a frase seção 1*/
section>h1 {
  line-height: 35px;
  display: flex;
  white-space: pre-line;
  justify-content: center;
  position: relative;
  bottom: 35px;
}

h1>i {
  font-weight: 700;
}

i>span {
  font-weight: 200;
  font-size: 30px;
}

i .sub1 {
  margin-left: 25px;
}

i .sub2 {
  display: flex;
  justify-content: center;
}

/*estilizando imagem seção 1*/
.kids {
  display: flex;
  justify-content: center;
}

.kids>img {
  border-radius: 75% 0 / 100% 0;
  /*estilizou em forma de "Olho"*/
  padding: 30px 20px 20px 20px;
  width: 500px;

  -webkit-mask-image:

    linear-gradient(to right, black 40%, transparent 100%),
    linear-gradient(to left, black 50%, transparent 100%);
  -webkit-mask-composite: intersect;

  mask-image:

    linear-gradient(to right, black 40%, transparent 100%),
    linear-gradient(to left, black 50%, transparent 100%);

  mask-composite: intersect;
}

/*segunda seção*/
.sobre {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 60px;
  opacity: 0;
  transform: translateY(60px);
  filter: blur(5px);
  transition:
    opacity 1.2s ease,
    transform 1.2s cubic-bezier(0.17, 0.55, 0.55, 1),
    filter 1.2s ease;
}

/* Quando aparecer */
.sobre.show {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0);
}

.imagens {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 20px;
}

.img-box {
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 10px;
}

.img-box img {
  object-fit: cover;
}

#box1 {
  width: 350px;
  height: 250px;
  border-top-left-radius: 37%;
  box-shadow: -15px -15px 5px #F09F54;
}

#box2 {
  width: 200px;
  height: 250px;
  border-top-right-radius: 45%;
}

#box3 {
  width: 235px;
  height: 200px;
  border-bottom-left-radius: 55%;
}

#box4 {
  width: 315px;
  height: 200px;
  right: 115px;
  border-bottom-right-radius: 45%;
  box-shadow: 15px 15px 5px #F09F54;
}

/*definindo a parte quem nós somos*/
.content {
  position: relative;
  bottom: 50px;
}

.content h2 {
  font-size: 28px;
  font-weight: 700;
}

.content span {
  display: inline-block;
  font-weight: 700;
  background: linear-gradient(to right, #f0f6fc, #c444eb);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content p {
  text-align: justify;
}

.status {
  margin-top: 20px;
  display: flex;
  gap: 30px;
}

.status p {
  margin: 0;
  font-size: 20px;
}

.status div strong {
  display: block;
  font-size: 35px;
  color: #0066ff;
}

/*Estilizando o Scroll*/
.scroll {
  margin-top: 10px;
  max-width: 100%;

  mask: linear-gradient(to right, transparent, black 10%, black 85%, transparent);
}

.scroll-container {
  width: max-content;
  translate: -5%;
}

.scroll-container img {
  width: 150px;
}

/*estilizando primeira scroll*/
.scroll-one {
  display: flex;
  animation: scrollInfinito 15s linear infinite;
}

/*estilizando segundo scroll*/
.scroll-two {
  display: flex;
  animation: scrollInfinito 25s linear infinite;
}

/*animando scroll*/
@keyframes scrollInfinito {
  to {
    translate: calc(-50%);
  }
}

/*scrolly projetos*/
.projetos {
  user-select: none;
  margin-top: 40px;
  margin-bottom:40px;
  position: relative;
  height: 400vh; /* 4 slides = 400vh */
  background: #0c0c0c;
  overflow: visible;
  z-index: 0; /* manter base */
  mask: linear-gradient(to top, transparent, black 1%, black 98%, transparent);
}

.scroll-arrow {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.85);
  pointer-events: none; /* não bloqueia cliques */
  transition: opacity 0.18s ease;
  opacity: 1;
  z-index: 99999; /* ficar acima de todo o conteúdo */
}


.slides-wrapper {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow: hidden;
  contain: strict;
  transform: translateZ(0);/*força GPU*/
}

.slides {
  margin-top: 20px;
  display: flex;
  height: 100%;
  will-change: transform;
  transform: translate3d(0, 0, 0);
  transition: transform 0.3s ease;
  flex-wrap: nowrap; /* impede quebra de linha */
  gap: 15px;
  overflow-x: scroll; /* permite scroll horizontal */
  scroll-behavior: smooth; /* animação suave */
  scroll-snap-type: x mandatory; /* trava automática */
  cursor: grab;
  -webkit-overflow-scrolling: touch; /* para iOS smooth */
}

.slides.dragging {
  cursor: grabbing;/* mão fechada enquanto arrasta */
}

/*remove barra de scroll visível */
.slides::-webkit-scrollbar {
  display: none;
}

.slide {
  height: 100vh;
  display: flex;
  flex: 0 0 100vw;
  scroll-snap-align: center;
  /* slide centralizado na travinha */
  align-items: center;
  justify-content: center;
  transform: translate3d(0, 0, 0);
}

/* conteúdo interno*/
.slide .img {
  width: 38vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  backface-visibility: hidden;
}

.slide .proContent {
  margin: 0;
  width: 41vw;
  height: 80vh;
  padding: 0 20px 0 20px;
  display: flex;
  flex-direction: column;
  background: #4029b9;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.proContent h2 {
  color: white;
  padding: 3px;
  border-radius: 20px;
  position: relative;
  top: 25px;
  left: 130px;
  background-color: #c444eb;
  width: 300px;
  text-align: center;
  font-weight: 700;
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 40px -8px #c444eb;
}

.span-slides{
  font-weight:bold;
}

.proContent p{
  color: rgb(240, 237, 237);
  padding: 20px 10px 0 10px;
}

.proContent .outro-paragrafo{
  margin-top: -15px;
}

.slide:last-child {
  position: relative;
  right: 100px;
}

/*section chamada*/
.chamada-container{
  display: flex;
  justify-content: center;
  position: relative;
  top: 20px;
}

.chamada{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid #635c5c;
  border-radius: 20px;
  padding: 50px 0 20px 20px;
  width: 400px;
  height: 200px;
}

.chamada>h3{
  font-weight: 500;
}

.chamada>.contatos-button>i, .redes-sociais>p>i{
  display: flex;
  gap: 4px;
  align-items: center;
}

.contatos-button{
  width: 130px;
  box-shadow: 0px 0px 40px -15px rgb(233 208 96);
  background-color: rgb(233 208 96);
  display: flex;
  border: 0;
  padding: 10px;
  border-radius: 10px;
  margin-right: 80px;
}


/*footer contatos*/
footer{
  background: #0c0c0c;
  position: relative;
  top: 80px;
}

.container-contatos{
  display: flex;
  gap: 250px;
  align-items: center;
}

.redes-sociais{
  padding-left: 10px;
}

.redes-sociais>h3{
  margin-top: 17px;
  width: 400px;
}

.redes-sociais>p{
  font-size:12px;
}

.redes{
  display: flex;
  gap: 40px;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.redes-sociais>.redes>.facebook>a>i{
  color: white;
}