@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

/*Estilizando o header*/
header {
  top: 0;
  position: relative;
  padding: 10px;
  height: 50px;
  z-index: 1000;
}

.menu-hamburguer {
  background-color: #0f0f0f;
  color: white;
  border: none;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
  z-index: 1000;
  width: 30px;
  height: 30px;
}

.menu-hamburguer:hover {
  background-color: #292828;
}

.hamburguer-item {
  background: transparent;
  border: none;
  text-align: right;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.hamburguer-item:hover {
  background: #f2f2f2;
}