@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

body {
  margin: 0 0 10px 0;
  background: linear-gradient(-20deg, rgb(7, 2, 53) 50%, rgb(83, 44, 189));
  color: #f0f6fc;
}

/*Estilizando o header*/
header {
  top: 0;
  position: relative;
  padding: 10px;
  height: 70px;
  z-index: 999;
}

.relative {
  position: relative;
  border-bottom: 1px solid #9198a149;
}

.estatic>img {
  display: flex;
  right: 5%;
  width: 400px;
  position: relative;
  bottom: 45px;
}

.estatic {
  background: transparent;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*botão menu-hamburguer*/
.menu {
  position: relative;
  display: flex;
  top: 10px;
  right: 15px;
}

.menu-hamburguer {
  background-color: #0f0f0f;
  color: white;
  border: none;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
  z-index: 1000;
  width: 30px;
  height: 30px;
}

.menu-hamburguer:hover {
  background-color: #292828;
}

/*opçoes menu-hamburguer*/
.menu-opcoes {
  top: 30px;
  position: absolute;
  right: 8px;
  min-width: 80px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  padding: 6px;
  display: none;
  /* hidden por padrão */
  flex-direction: column;
  gap: 6px;
  z-index: 50;
}

.menu-opcoes.show {
  display: flex;
}

.hamburguer-item {
  background: transparent;
  border: none;
  text-align: right;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.hamburguer-item:hover {
  background: #f2f2f2;
}