@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

body {
  margin: 0;
  background: #201b2c;
  color: #f0f6fc;
}

.header {
  color: #201b2c;
}

.estatic {
  background-color: rgba(52, 197, 117, 0.993);
  box-shadow: 0px -30px 70px rgba(52, 197, 117, 0.95);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.relative {
  position: relative;
  padding: 30px;
}