body {
    display: flex;
    flex-direction: column;
    margin: 0 0 10px 0;
    background: #201b2c;
    color: #f0f6fc;
}

/*Estilizando corpo da página*/
.content {
    margin-left: 3%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

main {
    display: flex;
    padding: 2px;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    left: 6%;
}

/*Estilizando o header*/
.relative {
    position: relative;
    background: linear-gradient(to left, rgb(59, 28, 145)1%, rgb(83, 44, 189));
    border-bottom: 1px solid #9198a149;
}

.estatic>img {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100px;
}

.estatic {
    bottom: 10px;
    height: 71px;
    align-items: center;
    position: relative;
    display: flex;
    justify-content: space-between;
}

/*botão menu-hamburguer*/
.menu {
    display: flex;
}

/*opçoes menu-hamburguer*/
.menu-opcoes {
  top: 52px;
  position: absolute;
  right: 20px;
  min-width: 80px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  padding: 6px;
  display: none;/* hidden por padrão */
  flex-direction: column;
  gap: 6px;
  z-index: 50;
}

.menu-opcoes.show {
  display: flex;
}

/*Informações do usuário*/

.avatar-user {
    position: relative;
    width: 180px;
    height: 180px;
    margin-top: 20%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar-user>#iconePerfil {
    position: relative;
    left: 25%;
    display: flex;
    font-size: 180px;
}

.avatar-user img {
    clip-path: circle(50%);
    /*imagem se estende apenas nessa proporção, sem bloquear elementos externos*/
}

#upload-btn {
    width: 60px;
    height: 30px;
    padding: 5px;
    font-size: 15px;
    font-weight: 200;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 12%;
    color: #fff;
    background-color: #201b2c;
    display: flex;
    position: absolute;
    bottom: 15px;
    left: 190px;
    transition: transform 0.2s ease;
    justify-content: flex-end;
    z-index: 1;
    cursor: pointer;
}

#upload-btn:hover {
    background-color: #272330;
}

.upload-btn>i {
    border: none;
    display: inline-flex;
    align-items: center;
    gap: 3px;
}

#preview {
    position: absolute;
    inset: 0;
    /* Ocupa toda a área do avatar */
    display: flex;
    width: 100%;
    height: 100%;
    display: none;
    /* Só aparece depois do upload */
    border-radius: 50%;
    object-fit: cover;
}

/*opções menu do button edit*/
.upload-menu {
    position: absolute;
    bottom: 48px;
    /* sobe acima do botão */
    right: 8px;
    min-width: 140px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    padding: 6px;
    display: none;
    /* hidden por padrão */
    flex-direction: column;
    gap: 6px;
    z-index: 50;
}

.upload-menu.show {
    left: 190px;
    display: flex;
}

.menu-item {
    background: transparent;
    border: none;
    text-align: left;
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
}

.menu-item:hover {
    background: #f2f2f2;
}

/*informações pessoais do Usuário*/
/*nomes dentro do sidebar*/
.vcard-names-container {
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #9198a16e;
}

.vcard-names {
    margin-top: 5px;
}

.vcard-names>.nomeCompleto {
    font-size: 24px;
}

.vcard-names>.nomeUsuario {
    color: #9198a1;
    position: relative;
    bottom: 25px;
    font-size: 20px;
}

.infoUsuario {
    font-size: 12px;
    position: relative;
    bottom: 35px;
}

#editarInfo,
#cancelarEdicao {
    position: relative;
    bottom: 35px;
    color: #9198a1;
    border: 1px solid #ccc;
    align-items: center;
    border-color: hsl(0, 0%, 18.82%);
    border-radius: 5px;
    background: #63626250;
    font-size: 14px;
    transition: all 0.3s ease;
    display: block;
    width: 250px;
    height: 35px;
    text-align: center;
    cursor: pointer;
}

#editarInfo:hover {
    border-color: #888782dc;
    box-shadow: 0 0 6px rgba(95, 99, 98, 0.082);
}

#cancelarEdicao:hover {
    border-color: #3b3b3adc;
    box-shadow: 0 0 6px rgba(95, 99, 98, 0.082);
}

/*Estilizando Card*/
#listaFamilias {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.card-familia {
    margin-bottom: 1%;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 0 2px 4px #aaa4a4;
    width: 600px;
    height: 300px;
    background-color: #f8d406f1;
    color: #201b2c;
    padding: 4px;
    padding-bottom: 6px;
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-familia h3 {
    width: 100%;
    text-align: center;
    border-bottom: #fff;
}

/* duas colunas dentro do card */
.card-familia .info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 80px;
    column-gap: 10px;
    row-gap: 6px;
}

.card-familia .info p {
    font-weight: 400;
    margin: 8px 0;
}

.card-familia:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
}

/*estilizando editar cadastro*/
.acoes-card {
    position: relative;
    right: 16%;
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.acoes-card button {
    background: none;
    color: #201b2c;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}

.acoes-card button:hover {
    background: #9c9c9cbb;
}

/*estilizando o campo de edição*/

.modal-content {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    background-color: #f8d406dc;
    margin: 10% auto;
    color: #333;
    padding: 20px;
    border-radius: 15px;
    width: 600px;
    height: 300px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    animation: slideUp 0.3s;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content>h3 {
    text-align: center;
    margin-top: 1px;
    font-weight: bold;
}

.modal-content>h3>hr {
    border-color: #070707;
    margin: 0;
}

#formEdicaoModal {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 5%;
    column-gap: 80px;
    position: relative;
    height: 165px;
}

#formEdicaoModal>input {
    width: 220px;
    border: 0px;
    border-radius: 3px;
}

#formEdicaoModal>button {
    background-color: #237ff7fb;
    position: relative;
    width: 95%;
    right: 108%;
    border: 0px;
    border-radius: 5px;
    margin: 175px 0px 0px 0px;
}

#formEdicaoModal>button:hover,
#formEdicaoModal>button:focus {
    background: #458be7fb;
    cursor: pointer;
}

#formEdicaoModal>#mensagem {
    border: 0px;
}


@keyframes slideUp {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.modal .close {
    float: right;
    font-size: 24px;
    cursor: pointer;
}


/*filtro famílias cadastradas*/
#filtro {
    position: relative;
    left: 70%;
    width: 180px;
    padding: 10px 10px 10px 15px;
    border-radius: 20px;
    font-size: 14px;
}

#filtro,
select:hover {
    cursor: pointer;
}

select {
    text-align: center;
    color: #9c9c9cef;
    border: 0;
}

select,
::picker(select) {
    appearance: base-select;
    background: #8d8d8d50;
}

select:hover,
select:focus {
    background: #99979750;
}

option {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    background: #bebbbb8a;
    padding: 8px;
    transition: 0.4s;
}

option::checkmark {
    content: "";
}

::picker(select) {
    border-radius: 15px;
}

option:hover,
option:focus {
    background: rgba(168, 170, 169, 0.897);
}



/*Estilizando o campo busca*/
.campo-busca {
    position: relative;
    display: inline-block;
    right: 31%;
}

.campo-busca i {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    pointer-events: none;
    font-size: 16px;
}

.campo-busca input {
    padding: 10px 12px 10px 36px;
    /* espaço para o ícone */
    border: 1px solid #ccc;
    align-items: center;
    border-color: hsl(0, 0%, 18.82%);
    border-radius: 20px;
    background: #8d8d8d50;
    font-size: 14px;
    transition: all 0.3s ease;
    width: 250px;
}

.campo-busca input:hover {
    border-color: #888782dc;
    box-shadow: 0 0 6px rgba(95, 99, 98, 0.3);
}