body {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 120px;
}

.card-familias {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-familia {
    margin-top: 80px;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    box-shadow: 0 2px 4px #aaa4a4;
    width: 900px;
    height: 300px;
    background-color: #663399;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
}

.card-familia h3 {
    justify-self: center;
    border-bottom: #fff;
}

.card-familia p {
    display: flex;
    margin: 8px 0;
}



/*nomes dentro do sidebar*/
.vcard-names>.nomeCompleto {
    font-size: 24px;
}

.vcard-names>.nomeUsuario {
    font-size: 20px;
}

.card-familia:hover {
    transform: translateY(-5px);
}